.CardWrapper {
  width: 25rem;
  margin: 1rem;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.CardImage {
  height: 5rem;
  width: 5rem;
}

.CardText {
  padding: 0.5rem 0.8rem;
}
.CardTitle {
  font-size: 1.4rem;
}

.CardDescription {
  font-size: 0.8rem;
}
